.nav {
  margin: 10px 5px;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
}

.shop_page,
form {
  display: flex;
}

.shops_list {
  margin: 0 5px;
  width: 20%;
  height: 80vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop {
  width: 50%;
  height: 50px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop:hover {
  cursor: pointer;
  color: darkgray;
}

.shop_cards_list {
  margin: 0 5px;
  width: 80%;
  height: 80vh;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
}

.card {
  margin: 20px;
  width: 300px;
  height: 230px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.card > img {
  margin-top: 10px;
}

button,
.card > input {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 150px;
  height: 30px;
}

.shop_cards_list {
  display: flex;
  flex-wrap: wrap;
}
.shop_cards_list p {
  margin: auto;
}

fieldset {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  height: 30px;
}

footer {
  width: 50%;
  position: absolute;
  bottom: 20px;
  right: 0;
  display: flex;
}
